{% load static%}{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
  {% comment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}" /> {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dangun_app/favicon.ico' %}"/>
  <title>채팅하기</title>
</head>

<body class="back-ye">
  {% include 'awesome_app/nav.html' %}
  <div class="content-box">
    <div class="container column">
      <div class="post-box flex-box">

        <!-- 채팅선택창 -->
        <div class="chat-select-container">
          <!-- 채팅 리스트 -->
          <div class="chat-list-box flex-box column">
            <!-- 봇 -->
            <a href="#" id="ai-chatbot-link">
              <div class="chat-box flex-box">
                <div class="ai-profile">
                  <img src="{% static 'img/icon_aibot.png'%}" alt="">
                </div>
                <div>
                  <p class="bold"> FAQ 린공 지능 로보-트</p>
                  <p class="chat-thumb-text">퍼뜩 물어보라우</p>
                </div>
              </div>
            </a>
            <div class="chat-box flex-box chatBotAi" onclick="redirectToChat(0, 12)" data-chat-room-id="-1">
              <div class="ai-profile">
                <img src="{% static 'img/autochatbot.png'%}" alt="">
              </div>
              <div>
                <p class="bold">린공 지능 로보-트</p>
                <p class="chat-thumb-text">궁금한건 날래날래 물어보라</p>
              </div>
            </div>

            <!-- 채팅방리스트 -->
            {% for msg in latest_messages %}

            <div class="flex-box chat-box between" onclick="redirectToChat({{ msg.chat_room_id }}, {{ msg.seller_id }})"
              data-chat-room-id="{{ msg.chat_room_id }}">

              <div>
                <div class="flex-box">
                  <p class="bold">{{ msg.seller }}</p>
                  <p class="s-text">{{ msg.seller_location }}</p>
                  <p class="s-text">{{ msg.created_at }}</p>
                </div>
                <div class="message-content">
                  <p class="chat-thumb-text">{{ msg.message }}</p>
                  {% if msg.unread_message_count > 0 %}
                  <p class="unread_message_count">{{ msg.unread_message_count }}</p>
                  {% endif %}
                </div>
              </div>
              {% if msg.goods_img != None %}
              <div class="thumbnail-box">
                <img src="{% static msg.goods_img.images.url %}" alt="">
              </div>
              {% endif %}

            </div>

            {% endfor %}
          </div>
        </div>

        <!-- 채팅창-->
        <div class="chat-main-container">

          {% if room_number > 0 or room_number == -1 %}
          <div style="height:500px">
            <div class="contact-info flex-box">
              {% if seller %}
              {{ seller.username }}
              <div class="temp">
                {{ seller.rating_score }}도
              </div>
              {% else %}
              상대아이디
              <div class="temp">
                36.9도
              </div>
              {% endif %}
            </div>

            <!--물품정보-->
            {% if goods %}
            {% for good in goods %} {% if forloop.first %}
            <div class="goods-box flex-box between">
              <div class="flex-box">
                <div class="selected-thumbnail-box">
                  <img src="{% static good.images.url %}" alt="{{ good.title }}">
                </div>
                <div class="goods-info-box">
                  <p>{{ good.title }}</p>
                  <p class="bold">{{ good.price | intcomma }}</p>
                </div>
              </div>
              <div>
                <button id="toggle-goods-button">더보기</button>
                {% if good.product_sold == 'Y' %}
                <button>거래완료</button>
                {% elif good.product_reserved == 'Y' %}
                <button>예약중</button>
                {% else %}
                <button>거래전</button>
                {% endif %}
              </div>
            </div>
            {% endif %}{% endfor %}
            <div class="goods-scroll-box">
              {% for good in goods %}{% if not forloop.first %}
              <div class="goods-box flex-box between {% if forloop.counter > 4 %}hidden{% endif %}"
                style="{% if forloop.counter > 1 %}display: none;{% endif %}">
                <div class="flex-box">
                  <div class="selected-thumbnail-box">
                    <img src="{% static good.images.url %}" alt="{{ good.title }}">
                  </div>
                  <div class="goods-info-box">
                    <p>{{ good.title }}</p>
                    <p class="bold">{{ good.price | intcomma }} 원</p>
                  </div>
                </div>
                <div>
                  <button class="sendChat" id="{{ good.id }}">대화보내기</button>
                  {% if good.product_sold == 'Y' %}
                  <button>거래완료</button>
                  {% elif good.product_reserved == 'Y' %}
                  <button>예약중</button>
                  {% else %}
                  <button>거래전</button>
                  {% endif %}
                </div>
              </div>
              {% endif %}{% endfor %}
            </div>
            {% endif %}

            <!--채팅창 메인-->
            <div class="chat-container" id="chat-log" style="{% if not goods %}height: 350px;{% endif %}">
              {% for chat in chat_msgs %}
              {% if request.user.username != chat.username %}
              <div class="message-box from-you">
                {% if chat.id > first_unread_index %}
                <div class="message-text unread">{{ chat.message }}</div>
                {% else %}
                <div class="message-text">{{ chat.message }}</div>
                {% endif %}
                <p class="s-text">{{ chat.created_at }}</p>
                {% if chat.is_read == False %}
                <p class="s-text unread">읽지 않음</p>
                {% endif %}
              </div>
              {% else %}
              <div class="message-box from-me">
                {% if chat.is_read %}
                <p class="s-text">읽음</p>
                {% else %}
                <p class="s-text unread-message">읽지 않음</p>
                {% endif %}
                <p class="s-text">{{ chat.created_at }}</p>
                <div class="message-text">{{ chat.message }}</div>
              </div>
              {% endif %}
              {% endfor %}
            </div>

            <div class='toast'>
              <div id="toast-popup" class="toast-popup">
                <div class="toast-content">
                  <p class="toast-message">새 메시지가 도착했습니다!</p>
                </div>
              </div>
            </div>

          </div>

          <form class="chat-input" id="chat-form">
            {%csrf_token%}
            <textarea type="text" id="chat-message-input" name="message" cols="30" rows="10"
              placeholder="메세지를 입력해주세요"></textarea>
            <div><button id="chat-message-submit" type="button">전송</button></div>
          </form>

          {% elif room_number == 0 %}
          <div class="awesome_logo">
            <img src="{% static 'img/awesome_logo.png' %}">
          </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
  {% include 'awesome_app/footer.html' %}

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
<script>
  const chatLog = document.querySelector('#chat-log');
  let room_number = parseInt("{{ room_number }}");
  let change_room_number = parseInt("{{ room_number }}");
  if (change_room_number == -1) {
    change_room_number = 0;
  }

  const ws = new WebSocket('ws://127.0.0.1:8000/ws/chat/' + change_room_number + '/');

  function generateMessageId() {
    return uuid.v4();
  }

  document.addEventListener("DOMContentLoaded", function () {
    const messageInputDom = document.querySelector('#chat-message-input');
    const chatMessageSubmitBtn = document.querySelector('#chat-message-submit');
    const username = "{{ user.username }}";

    function getCurrentTime() {
      const now = new Date();
      const hours = now.getHours();
      const minutes = now.getMinutes();

      const amOrPm = hours >= 12 ? 'PM' : 'AM';
      const formattedHours = hours % 12 || 12;
      const formattedMinutes = minutes < 10 ? `0${minutes}` : minutes;

      const currentTime = `오늘 ${amOrPm} ${formattedHours}:${formattedMinutes}`;

      return currentTime;
    }

    const currentTime = getCurrentTime();

    function showNewMessagePopup(messageContent) {
      const toastPopup = document.querySelector('.toast');
      toastPopup.style.display = 'flex';
      let message = document.querySelector('.toast-message');
      message.textContent = messageContent;

      setTimeout(function () {
        toastPopup.style.display = 'none';
      }, 2500);
    }

    ws.onmessage = function (e) {
      const data = JSON.parse(e.data);

      if (data.type === 'chat_message') {

        const messageContainer = document.createElement('div');

        const currentUser = data.username;
        const messageId = data.message_id;

        if (currentUser === username) {
          messageContainer.className = 'message-box from-me';
          messageContainer.innerHTML = `
            <p class="s-text unread-message">읽지 않음</p>
            <p class="s-text">${data.created_at}</p>
            <div class="message-text">${data.message}</div>
          `;
        } else {
          messageContainer.className = 'message-box from-you';
          messageContainer.innerHTML = `
            <div class="message-text">${data.message}</div>
            <p class="s-text">${data.created_at}</p>
          `;

          const messageText = data.message.length > 10 ? data.message.slice(0, 10) + '...' : data.message;

          if (!isScrolledToBottom()) {
            showNewMessagePopup(messageText);
          }
        }
        chatLog.appendChild(messageContainer);

        if (currentUser == username) {
          scrollToBottom();
        }

        if (isScrolledToBottom()) {
          scrollToBottom();
        }
      };

      if (data.type === 'chat_message_read') {
        let unreadMessages = document.querySelectorAll('.unread-message');
        unreadMessages.forEach(message => {
          message.textContent = '읽음';
        });
      }

      if (data.type === 'chat_bot_send') {
        const loadingMessage = document.querySelectorAll('.loading-message');
        loadingMessage.forEach(element => {
          element.remove(); 
        });

        const messageContainer = document.createElement('div');

        const currentUser = 'chatbot';

        messageContainer.className = 'message-box from-you';
        messageContainer.innerHTML = `
            <div class="message-text">${data.message}</div>
            <p class="s-text">${data.created_at}</p>
          `;

        chatLog.appendChild(messageContainer);
        scrollToBottom();
      }
    }

    function scrollToBottom() {
      chatLog.scrollTop = chatLog.scrollHeight;
    }

    if (room_number > 0 || room_number == -1) {
      chatMessageSubmitBtn.addEventListener('click', function () {
        const message = messageInputDom.value;

        if (message.trim() !== '') { // 빈 메시지는 추가하지 않음

          let uuid = generateMessageId();
          if (room_number > 0) {
            ws.send(JSON.stringify({
              'type': 'chat_message',
              'message': message,
              'username': username,
              'receiver': "{{ seller.username }}",
              'room_number': room_number,
              'created_at': currentTime,
              'chat_uuid': uuid
            }));
          } else if (room_number == -1) {
            const messageContainer = document.createElement('div');
            messageContainer.className = 'message-box from-me';
            messageContainer.innerHTML = `
              <p class="s-text">${currentTime}</p>
              <div class="message-text">${message}</div>
            `;
            chatLog.appendChild(messageContainer);

            ws.send(JSON.stringify({
              'type': 'chat_bot',
              'message': message,
              'created_at': currentTime
            }));

            let second = document.createElement('div');
            second.className = 'message-box from-you';
            second.innerHTML = `
              <p class="message-text loading-message">
                <img class="autobotImg" src="{% static 'img/autobot.png'%}" style="height: 300px !important; width:500px;">
                <span>생각 로동 중...</span>
              </p>
            `;

            chatLog.appendChild(second);
            const loadingMessage = document.getElementById('loading-message');
            scrollToBottom();
          }

          messageInputDom.value = '';

        };
      });

      document.querySelector('#chat-message-input').addEventListener('keydown', function (e) {
        if (e.keyCode === 13) {  // enter, return
          e.preventDefault(); // 폼 제출을 막음
          document.querySelector('#chat-message-submit').click();
        }
      });

    }
  });

  function redirectToChat(chatRoomId, senderId) {
    const chatBoxes = document.querySelectorAll('.chat-box');
    chatBoxes.forEach(chatBox => {
      chatBox.classList.remove('selected-chat');
    });

    const selectedChat = document.querySelector(`[data-chat-room-id="${chatRoomId}"]`);
    if (selectedChat) {
      selectedChat.classList.add('selected-chat');
    }

    window.location.href = `/chat/${chatRoomId}/${senderId}`;
  }

  function isScrolledToBottom() {
    const scrollThreshold = 54;
    return chatLog.scrollHeight - chatLog.scrollTop <= chatLog.clientHeight + scrollThreshold;
  }

  window.addEventListener('focus', function () {
    if (isScrolledToBottom(chatLog)) {
      const room_number = parseInt("{{ room_number }}");

      if (room_number > 0) {
        ws.send(JSON.stringify({
          'type': 'chat_message_read',
          'receiver': "{{ request.user.username }}",
          'room_number': room_number,
          'chat_uuid': generateMessageId(),
          'is_read': true
        }));
      }
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    window.addEventListener('load', function () {
      const currentUrl = window.location.href;
      const match = currentUrl.match(/chat\/(\d+)/);
      let chatRoomId = 0;

      if (match) {
        chatRoomId = match[1];
      }

      const selectedChat = document.querySelector(`[data-chat-room-id="${chatRoomId}"]`);
      if (selectedChat) {
        selectedChat.classList.add('selected-chat');
      }

      const firstUnreadIndex = "{{ first_unread_index }}";

      if (firstUnreadIndex > 0) {
        const unreadChat = chatLog.querySelectorAll('.unread')[0];
        if (unreadChat) {
          unreadChat.scrollIntoView({ behavior: "smooth", block: "center" });
        } else {
          chatLog.scrollTop = chatLog.scrollHeight;
        }
      } else {
        if (chatLog) {
          chatLog.scrollTop = chatLog.scrollHeight;
        }
      }
    });

    const chatListItems = document.querySelectorAll('.chat-box');

    chatListItems.forEach(item => {
      const textElement = item.querySelector('.chat-thumb-text');
      const maxTextLength = 15;

      if (textElement.textContent.length > maxTextLength) {
        const truncatedText = textElement.textContent.slice(0, maxTextLength) + '...';
        textElement.textContent = truncatedText;
      }
    });

  });
  const aiChatbotLink = document.getElementById('ai-chatbot-link');

  // 클릭 이벤트 핸들러를 추가합니다.
  aiChatbotLink.addEventListener('click', function (event) {
    event.preventDefault(); // 기본 링크 동작을 막습니다.

    // 팝업 창을 열기 위한 설정을 정의합니다.
    const popupUrl = '{% url 'awesome_app:ai_chatbot_popup' %}'; // 팝업으로 열고자 하는 view의 URL을 지정합니다.
    const popupName = 'AIChatbotPopup'; // 팝업 창의 이름을 정의합니다.
    const popupWidth = 600; // 팝업 창의 너비를 지정합니다.
    const popupHeight = 700; // 팝업 창의 높이를 지정합니다.

    const parentWidth = window.innerWidth;
    const parentHeight = window.innerHeight;
    const parentX = window.screenX + (parentWidth / 2);
    const parentY = window.screenY + (parentHeight / 2);

    // 팝업 창을 엽니다.
    // window.open(popupUrl, popupName, `width=${popupWidth},height=${popupHeight}`);
    window.open(popupUrl, popupName, `width=${popupWidth},height=${popupHeight},left=${parentX - popupWidth / 2},top=${parentY - popupHeight / 2}`);

  });

  document.addEventListener("DOMContentLoaded", function () {
    let isGoodsExpanded = false;
    const toggleGoodsButton = document.querySelector('#toggle-goods-button');
    const goodsBoxes = document.querySelectorAll('.goods-box');

    if (goodsBoxes.length > 0) {
      toggleGoodsButton.addEventListener('click', function () {
        if (isGoodsExpanded) {
          // 첫 번째 굿즈 외의 굿즈를 숨김
          for (let i = 1; i < goodsBoxes.length; i++) {
            goodsBoxes[i].classList.add('hidden');
            goodsBoxes[i].style.display = 'none';
          }
        } else {
          // 모든 굿즈를 보이도록 설정
          for (let i = 1; i < goodsBoxes.length; i++) {
            if (i >= 4) {
              goodsBoxes[i].classList.remove('hidden');
              goodsBoxes[i].classList.add('overflow-scroll');
              goodsBoxes[i].style.display = 'flex';
            } else {
              goodsBoxes[i].classList.remove('hidden');
              goodsBoxes[i].classList.add('overflow-scroll');
              goodsBoxes[i].style.display = 'flex';
            }
          }
        }

        goodsBoxes[0].classList.remove('hidden');
        isGoodsExpanded = !isGoodsExpanded;
      });

    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    const sendChatButtons = document.querySelectorAll('.sendChat');

    sendChatButtons.forEach(button => {
      button.addEventListener('click', function (e) {
        const goodsBox = button.closest('.goods-box');
        const goodsTitle = goodsBox.querySelector('.goods-info-box p').textContent;
        const goodsPrice = goodsBox.querySelector('.goods-info-box .bold').textContent;
        const messageInput = document.querySelector('#chat-message-input');

        const chatMessage = `관심 상품: ${goodsTitle}, 가격: ${goodsPrice}`;

        messageInput.value = chatMessage;
        e.preventDefault();
        document.querySelector('#chat-message-submit').click();

      });
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const toggleBtn = document.querySelector('#toggle-goods-button');
    const goodsCount = "{{ goods | length }}";
    if (goodsCount == 1) {
      toggleBtn.style.display = 'none';
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    const currentUrl = window.location.href;
    const chatBotAi = document.querySelector('.chatBotAi');

    if (currentUrl.includes('/0/12')) {
      chatBotAi.classList.add('selected-chat');
    } else {
      chatBotAi.classList.remove('selected-chat');
    }

  });

  document.addEventListener("DOMContentLoaded", function () {
    const messageInput = document.querySelector('#chat-message-input');
    const chatMessageSubmitBtn = document.querySelector('#chat-message-submit');

    messageInput.addEventListener('input', function () {
      if (messageInput.value.trim() !== '') {
        chatMessageSubmitBtn.style.backgroundColor = '#B22222';
        chatMessageSubmitBtn.style.color = '#fff';
      } else {
        chatMessageSubmitBtn.style.backgroundColor = '#E1E1E1';
        chatMessageSubmitBtn.style.color = '#000';
      }
    });
  });


</script>

</html>