{% load static%}{% load humanize %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}"/> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}"/>
    <title>채팅하기</title>
  </head>

  <body class="back-ye">
    {% include 'awesome_app/nav.html' %}
    <div class="content-box">
      <div class="container column">
        <div class="post-box flex-box">

          <!-- 채팅선택창 -->
          <div class="chat-select-container">
            <div class="flex-box">

              <!-- 아이디및 체크박스 -->
              <div class="id-box flex-box between">
                <span id="username">{{ username }}</span>
                <div>
                  <label>
                    안읽은 메세지만 보기
                    <input type="checkbox" name="" id="">
                  </label>
                </div>
              </div>
            </div>

            <!-- 채팅 리스트 -->
            <div class="chat-list-box flex-box column">
              <!-- 봇 -->
              <div class="chat-box flex-box">
                <div class="ai-profile">
                  <img src="{% static 'img/icon_aibot.png'%}" alt="">
                </div>
                <div>
                  <p class="bold">AI 챗봇</p>
                  <p class="chat-thumb-text">궁금한 내용을 물어보세요!</p>
                </div>
              </div>
              <!-- 채팅방리스트 -->
              {% for msg in latest_messages %}
              
              <div class="flex-box chat-box between" onclick="redirectToChat({{ msg.chat_room_id }}, {{ msg.seller_id }})">
                
                  <div>
                    <div class="flex-box">
                      <p class="bold">{{ msg.seller }}</p>
                      <p class="s-text">{{ msg.seller_location }}</p>
                      <p class="s-text">{{ msg.created_at }}</p>
                    </div>
                    <p class="chat-thumb-text">{{ msg.message }}</p>
                  </div>
                  <div class="thumbnail-box">
                    <img src="" alt="">
                  </div>

              </div>
              
              {% endfor %}
            </div>
          </div>
          
          <!-- 채팅창-->
          <div class="chat-main-container">

            {% if chat_msgs %}
              <div style="height:500px">
                <div class="contact-info flex-box">
                  상대방아이디
                  <div class="temp">
                      36.9도
                  </div>
                </div>

              <!--물품정보-->
              <div class="goods-box flex-box between">
                <div class="flex-box">
                  <div class="selected-thumbnail-box">
                    <img src="" alt="">
                  </div>
                  <div class="goods-info-box">
                    <p>LG 양문형 냉장고 778L</p>
                    <p class="bold">150,000원</p>
                  </div>
                </div>
                <button>거래완료</button>
              </div>

              <!--채팅창 메인-->
              <div class="chat-container" id="chat-log">
                {% for chat in chat_msgs %}
                  {% if request.user.username != chat.username %}
                  <div class="message-box from-you">
                    <div class="message-text">{{ chat.message }}</div>
                    <p class="s-text">{{ chat.created_at }}</p>
                  </div>
                  {% else %}
                  <div class="message-box from-me">
                    <p class="s-text">{{ chat.created_at }}</p>
                    <div class="message-text">{{ chat.message }}</div>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            <form class="chat-input" id="chat-form">
              <textarea type="text" id="chat-message-input" name="message" cols="30" rows="10" placeholder="메세지를 입력해주세요"></textarea>
              <div><button id="chat-message-submit" type="button">전송</button></div>
            </form>

            {% else %}
            <div class="awesome_logo" style="background: none;">
              <img src="{% static 'img/awesome_logo.png' %}"  style="background:none; max-width: 100%; height: auto;">
            </div>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
    {% include 'awesome_app/footer.html' %}

  </body>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const chatLog = document.querySelector('#chat-log');
    const messageInputDom = document.querySelector('#chat-message-input');
    const chatMessageSubmitBtn = document.querySelector('#chat-message-submit');
    const username = "{{ user.username }}";
    const room_number = parseInt("{{ room_number }}");

    const ws = new WebSocket('ws://127.0.0.1:8000/ws/chat/' + room_number + '/');

    function getCurrentTime() {
      const now = new Date();
      const hours = now.getHours();
      const minutes = now.getMinutes();

      const amOrPm = hours >= 12 ? 'PM' : 'AM';
      const formattedHours = hours % 12 || 12;
      const formattedMinutes = minutes < 10 ? `0${minutes}` : minutes;

      const currentTime = `오늘 ${amOrPm} ${formattedHours}:${formattedMinutes}`;

      return currentTime;
    }

    const currentTime = getCurrentTime();

    ws.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const messageContainer = document.createElement('div');

        const currentUser = data.username;

        if (currentUser === username) {
          messageContainer.className = 'message-box from-me';
          messageContainer.innerHTML = `
              <p class="s-text">${data.created_at}</p>
              <div class="message-text">${data.message}</div>
          `;
        } else {
          messageContainer.className = 'message-box from-you';
          messageContainer.innerHTML = `
              <div class="message-text">${data.message}</div>
              <p class="s-text">${data.created_at}</p>
          `;
        }
        chatLog.appendChild(messageContainer);
    };

    chatMessageSubmitBtn.addEventListener('click', function() {
        const message = messageInputDom.value;
        if (message.trim() !== '') { // 빈 메시지는 추가하지 않음

            ws.send(JSON.stringify({
                  'message': message,
                  'username': username,
                  'room_number': room_number,
                  'created_at': currentTime
            }));
            
            messageInputDom.value = '';
            scrollToBottom();// 메시지를 추가한 후에 스크롤을 아래로 이동
        };
    });

  document.querySelector('#chat-message-input').addEventListener('keydown', function(e) {
    if (e.keyCode === 13) {  // enter, return
        e.preventDefault(); // 폼 제출을 막음
        document.querySelector('#chat-message-submit').click();
    }
  });

  function scrollToBottom() {
    chatLog.scrollTop = chatLog.scrollHeight;
  }
  
});

  function redirectToChat(chatRoomId, senderId) {
    // JavaScript로 원하는 동작을 수행
    // 예: 클라이언트 측에서 URL로 이동
    window.location.href = `/chat/${chatRoomId}/${senderId}`;
  }
</script>
</html>