{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/location.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
  <title>거래 희망 장소 설정</title>
</head>

<body class="back-ye">
  <nav>
    <div class="container" id="header">
      <div class="full-box flex-box between">
        <div class="flex-box">
          <div class="logo">
            <a href="{% url 'awesome_app:main' %}">
              <img src="{% static 'img/logo.png' %}" alt=""/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="content-box">
    <div class="container column center" id="content">
      <div id="map" style="width: 500px; height: 500px; margin-top: 44px"></div>
      <h5 id="region-certified">{{ region }}</h5>
      <h5 id="region-info"></h5>
      <h5 id="region-warn"></h5>
      <button id="region-button" class="primary-button" onClick="fixLocation();">거래 희망 장소 설정하기</button>
    </div>
  </div>

  <!--카카오 api key-->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=06b71a5db40aca812f7ae8bff82d58b9&libraries=services"></script>
  <script type="text/javascript" src="{% static 'js/fix_location.js' %}"></script>
</body>

</html>