<div class="footer">
  <div class="container flex-box between">
    <div class="buttons flex-box">
      <a href="/trade">중고거래</a>
      {% if user.is_authenticated %}
      <a href="{% url 'awesome_app:chat' 0 user.id %}">대화하기</a>
      {% endif %}
    </div>
    <div>
      <p class="bold" style="margin-bottom:8px">린지무 어-플 내려받기</p>
      <div class="download-center">
        <button onclick="window.open('https://play.google.com/store/apps/details?id=com.towneers.www&hl=ko-KR')">구-글 놀이</button>
        <button onclick="window.open('https://apps.apple.com/kr/app/%EB%8B%B9%EA%B7%BC/id1018769995')">어-플 상점</button>
    </div>
  </div>
</div>
