{% load static %}

<nav>
  <div class="container">
    <div class="full-box flex-box between">
      <div class="flex-box">
        <div class="logo">
          <a href="{% url 'awesome_app:main' %}">
            <img src="{% static 'img/logo.png' %}" alt=""/>
          </a>
        </div>
        <div class="nav-buttons">
          <a href="/trade">
            <button id="trade-button">중고거래</button>
          </a>
          {% if user.is_authenticated %}
            <a href="/location">
              <button id="location-button">동네인증</button>
            </a>
          {% endif %}

        </div>
      </div>
      <div class="flex-box gap8">
        <form method="GET" action="{% url 'awesome_app:search' %}">
          <input type="text" id="search" name="search" class="search" placeholder="물품이나 동네를 찾으라우"/>
        </form>
        {% if user.is_authenticated %}
        <a href="{% url 'awesome_app:chat' 0 user.id %}" class="ghost-button orange">대화하기</a>
          <a href="{% url 'awesome_app:logout' %}" class="ghost-button">동무 나가기</a>

        {% else %}
          <a href="{% url 'awesome_app:login' %}" class="ghost-button" style="color: #1e1e1e">동무 린증</a>
        {% endif %}
      </div>
    </div>
  </div>
  <script src="{% static 'js/nav.js' %}"></script>
</nav>
