{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <title>회원가입</title>
  </head>

  <body class="back-ye">
    {% include 'awesome_app/nav.html' %}
    <div class="container">
      {% block content %}
        <div class="login-container">
          <form method="post" class="login-form">
            {% csrf_token %}
            {% for field in form %}
            <div class ="form-group">
                <label for = "{{ field.id_for_label }}">{{field.label}}</label>
                <input type = "{{ field.field.widget.input_type }}" class ="login-input" id ="{{field.id_for_label}}" 
                placeholder = "{{field.label}}" name = "{{field.name}}">
            </div>
            {% if field.errors %}
            <span style = "color:red">{{field.errors}}</span>
            {% endif %}
            {% endfor %}
            <button type="submit" class="login-button">등록</button>
          </form>
          <p class="register-reco">
            이미 계정이 있으신가요?
            <a href="{% url 'awesome_app:login' %}" class="bold">로그인</a>
          </p>
        </div>
      {% endblock %}
    </div>
    {% if error_message %}
      <script>
        alert('{{ error_message }}');
      </script>
    {% endif %}
  </body>

</html>
